.main {
	grid-template-columns: 1fr;

	justify-items: center;
	background: url(../img/background.png) center bottom no-repeat;
}
.photo {
	width: fit-content;
}
.photo__img {
	width: 72vw;
}
.content {
	width: 390px;
	background: none;
}
