@font-face {
	font-family: "custom-roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");

	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "custom-roboto";
	src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");

	font-weight: 500;
	font-style: normal;
}
body {
	font-family: "custom-roboto", sans-serif;

	font-style: normal;
	font-weight: 500;
}
.main {
	display: grid;
	grid-template-columns: min-content 1fr;
}
.photo {
	position: relative;
}
.photo:hover {
	opacity: 0.7;
}
.photo__img {
	width: 33vw;
	height: 100%;
}
.signature {
	width: 100%;

	padding: 12px 0;

	background: #121212;

	display: grid;
	justify-content: center;
	align-items: center;

	position: absolute;
	left: 0;
	bottom: 0px;
}
.signature__p {
	font-weight: 400;
	/*font-size: 64px;*/
	font-size: calc(24px + 40 * (100vw - 540px) / 1380);

	color: #ffffff;
}
.content {
	background: url(../img/background.png) center bottom no-repeat;
	/*background-size: cover;
	background-position: center bottom;*/
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: 1fr;
	row-gap: 2.5vw;

	padding: 0 2vw;
	align-content: center;
}
.FIO {
	display: grid;
	gap: 10px;
}
.FIO__name {
	/*font-size: 48px;*/

	font-size: calc(24px + 23 * (100vw - 540px) / 1380);

	color: #121212;
}
.FIO__citi {
	/*font-size: 24px;*/

	font-size: calc(18px + 5 * (100vw - 540px) / 1380);

	color: #121212;
}
.social {
	display: grid;
	grid-template: 1fr / repeat(auto-fit, 40px);
	column-gap: 30px;
}
.social__img:hover {
	opacity: 0.7;
}
.texnologis {
	display: grid;

	gap: 20px;
}
.texnologis__header {
	font-size: calc(16px + 15 * (100vw - 540px) / 1380);
	/*font-size: 32px;*/

	color: #121212;
}
.texnologis__block {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(106px, 1fr));
	grid-auto-rows: clamp(35px, max(3.3vw, 4.8vw), 66px);

	column-gap: 20px;
	row-gap: 10px;
}
.texnologis__circle {
	background: #414141;
	border-radius: 45px;

	display: grid;
	justify-content: center;
	align-items: center;

	/*font-size: 32px;*/

	font-size: calc(16px + 15 * (100vw - 540px) / 1380);

	color: #ffffff;
}
.texnologis__circle:hover {
	opacity: 0.7;
}
.about {
}
.about__head {
	/*font-size: 32px;*/

	font-size: calc(16px + 15 * (100vw - 540px) / 1380);

	color: #121212;

	display: grid;
	gap: 20px;
}
.about__description {
	/*font-size: 32px;*/
	font-size: calc(16px + 15 * (100vw - 540px) / 1380);

	color: #121212;

	display: grid;
	gap: 20px;
	text-indent: 30px;
}

.form {
	display: grid;
	grid-template: repeat(2, clamp(35px, max(3.3vw, 4.8vw), 66px)) / repeat(
			2,
			minmax(185px, 340px)
		);
	/*grid-template:
	"email message"
	"button button";*/
	column-gap: 20px;
	row-gap: 16px;
}
.input {
	background: #ffffff;

	/*font-size: 32px;*/

	font-size: calc(16px + 15 * (100vw - 540px) / 1380);

	border: 1px solid #121212;
	border-radius: 11px;
}
.input::placeholder {
	/*font-size: 32px;*/

	font-size: calc(16px + 15 * (100vw - 540px) / 1380);

	color: #121212;

	opacity: 1;
}
.form__email {
}
.form__message {
}
.form__button {
	background: #121212;
	border-radius: 11px;

	grid-column: span 2;

	/*font-size: 32px;*/

	font-size: calc(16px + 15 * (100vw - 540px) / 1380);

	color: #ffffff;
}
.form__button:hover {
	background: #414141;
}
