@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 1080px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;

.main
  display: grid
  grid-template-columns: 1fr 2fr

.photo
  display: grid
  grid-template-rows: 977px 103px

.signature
  background: black

	display: grid
	justify-items: center

  &__p
    font-size: 64px
    font-weight: 400
    line-height: 75px

    color: #ffffff

.content
	display: grid

	grid-template-rows: repeat(5, minmax(auto, 1fr))

.test
	width: 100px
